.PasscodeVerification {
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  p {
    padding-bottom: 10px;
  }
  div {
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    max-width: 400px;
  }
}
