
.baged-white,
.baged-gris {
  background-color: var(--color-white);
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 14px;
}
.baged-gris {
  background-color: var(--color-gris);
  font-size: 10px;
  padding: 4px 7px;
}


.badge-title {
    font-size: 10px;
  }
  
  .badge-transparent{
    background-color: transparent;
    border-radius: 12px;
    border-color: 1px solid var(--color-white);
    color: var(--color-white);
    padding: 3px;
    font-size: 8px;
    text-transform: uppercase;
  }
  
  