.card-blog-description * {
  font-size: 12px;
  line-height: 1.5;
}

.title-product-card > * {
  margin-bottom: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 12px;
}

.card-general {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.card-general.no-border {
  border: none;
} 
.card-info{
  background: var(--bg-activity-feed-boxes-top-left);
}

.card-info-date {
  width: 20%;
}
.card-info-content {
  width: 80%;
}
.card-info.courses {
  padding: 15px;
}
.card-body-courses p {
  font-size: 10px;
  margin: 0;
  color: var(--bg-font-grey);
}
.card-footer-courses {
  font-size: 12px;
}
.card-avatar,
.avatar-detail {
  border-radius: 50%;
  border: 1px solid var(--white-color);
  width: 45px;
  height: 45px;
  margin-top: -30px;
  z-index: 1;
  overflow: hidden;
}
.avatar-detail {
  width: 50px;
  height: 50px;
  margin-top: 0;
}

.card-title {
  font-family: var(--font-comfortaa);
  font-size: 14px;
  margin-bottom: 0;
}
.card-title-courses {
  font-size: 12px;
  display: block;
}
.card-members-info {
  font-family: var(--font-comfortaa);
  font-size: 10px;
  padding-left: 5px;
}

.card-date-creacion {
  font-size: 11px;
  color: var(--bg-font-grey);
}

.card-bg-light-black {
  background: linear-gradient(
    160deg,
    var(--bg-activity-feed-boxes-top-left) 0%,
    var(--bg-activity-feed-boxes-bottom-right) 60%
  );
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
  border-radius: 15px !important;
  padding: 26px 10px;
}
.card-avatar-center {
  border-radius: 50%;
  border: 1px solid var(--color-gris);
  z-index: 1;
  overflow: hidden;
}

.card-general-new {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.song-card-reponsive {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1440px) {
  .song-card-reponsive {
    display: grid;
    grid-template-columns: 40% 60%;
  }
}

.avatar-absolute {
  position: absolute;
  z-index: 1;
  right: -4px;
  bottom: 0;
}

@media (min-width: 992px) {
  .container-my-account {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.contain-btn {
  position: relative;
}

.card-channel-media {
  background: linear-gradient(
    160deg,
    var(--bg-card-left) 0%,
    var(--bg-card-right) 60%
  );
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr repeat(2, 50px);
  grid-template-areas:
    "img-channel-media img-channel-media"
    "name-channel-media name-channel-media"
    "buttons-channel-media buttons-channel-media";
}

.img-channel-media {
  grid-area: img-channel-media;
  justify-self: center;
  align-self: center;
}

.img-channel-media .avatar-detail {
  width: 90px;
  height: 90px;
}

.name-channel-media {
  grid-area: name-channel-media;
  justify-self: center;
  align-self: center;
}

.buttons-channel-media {
  grid-area: buttons-channel-media;
  justify-self: center;
  align-self: center;
}

@media (min-width: 992px) {
  .card-channel-media {
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: none;
    grid-template-areas: "img-channel-media name-channel-media buttons-channel-media";
  }
  .name-channel-media {
    justify-self: start;
  }
  .buttons-channel-media {
    justify-self: end;
  }
  .img-channel-media {
    justify-self: start;
  }
}
.avatar-detalis {
  background-color: transparent !important;
  border: 1px var(--color-white) !important;
  /* max-width: 81px !important; */
  border-color: 1px solid var(--color-white) !important;
}
.avatar-upload-contain {
  padding-left: 40px;
  margin-top: -90px;
}

.card-footer-actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.card-footer-actions.events {
  grid-template-columns: repeat(2, 1fr);
}

/* CARD HOME MUSIC START */
.card-home-music {
  display: grid;
  grid-template-columns: auto 1fr;
  background:linear-gradient(160deg, var(--bg-activity-feed-boxes-top-left) 0%, var(--bg-activity-feed-boxes-bottom-right) 60%);
  column-gap: 15px;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}
.width-height-150 {
  width: 150px;
  height: 150px;
}

.width-height-170{
  width: 175px;
  height: 120px;
}

@media (min-width: 992px) {
  .width-height-170{
    width: 212px;
    height: 170px;
  }
}

.width-50{
  width: 50%;
}
.card-category {
  background-color: #000000;
  font-size: 10px;
  padding: 2px 5px;
  border-radius: 20px;
}
.card-listen-now, .title-music {
  color: var(--bg-font) !important;
  font-weight: 700;
  font-size: 14px;
}
.title-music{
  font-size: 16px;
}
.card-avatar-music {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  background-color: aliceblue;
}


/* CARD HOME MUSIC END */

/* card-home-commnity start*/
.card-home-community{
  background:linear-gradient(160deg, var(--bg-activity-feed-boxes-top-left) 0%, var(--bg-activity-feed-boxes-bottom-right) 60%);
  
}
.border-top-radius{
  border-top-left-radius: 8px ;
  border-top-right-radius: 8px;
  
}
.border-bottom-radius{
  border-bottom-left-radius: 8px ;
  border-bottom-right-radius: 8px;

}
.card-category-community {
  background-color: #E4F0F4;
  font-family: var(--font-oswald);
  font-size: 11px;
  padding: 2px 5px; 
  font-weight: 700;
  border-radius: 7px;
  color: #2166E3;
}

/* card-home-commnity end*/























