/*
Carrousel
*/
.section-main-title {
  font-size: 18px;
}
.section-top-title, .section-top-title-dark {
  font-size: 12px;
  font-family: var(--font-oswald);
  font-style: normal;
  font-weight: 800;
  color: #848484;
  line-height: 19px;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.section-top-title-dark{
  color: #FFFFFF;

}
.section-event-title, .section-event-title-ligth, .sub-title-event {
  font-family: var(--font-oswald);
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 51px;
  color: #021730;
}
.section-event-title-ligth{
  color: #ffffff;
}
.sub-title-event{
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.section-home-title-light {
  font-family: var(--font-oswald);
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  word-wrap: break-word;
  line-height: 25px;
  color: #021730;
  width: 320px;
}
@media (min-width: 991px) {
  .section-home-title-light {
    font-family: var(--font-oswald);
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 71px;
    color: #021730;
    width: 850px;
  }
}

@media (min-width: 1199px) {
  .section-main-title {
    font-size: 26px;
    font-weight: 700;
  }
}
@media (max-width: 991px) {
  .section-top-title {
    font-size: 10px;
  }
  .section-event-title-ligth{
    font-size: 25px;
    line-height: 31px;
  }
  .section-event-title{
    font-size: 25px;
    line-height: 31px;
  }
}

.arrow-slide {
  display: none !important;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  outline: none;
}

@media (max-width: 991px) {
  .splide__track {
    overflow: visible !important;
  }
}

@media (min-width: 992px) {
  .arrow-slide {
    display: inline-block !important;
  }
  .splide__track {
    overflow: hidden;
  }
}
.arrow-slide:focus {
  outline: none;
}

.arrow-slide.btn-icon-header {
  width: 30px;
  height: 30px;
}

.arrow-slide svg {
  width: 12px;
}

.center-absolute {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.red-alert-notification {
  position: absolute;
  right: 0px;
  top: 0px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ff5e54;
  border: 1px solid #ffffff;
  z-index: 2;
}

.red-item-cart {
  position: absolute;
  right: -12px;
  top: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ff5e54;
  z-index: 2;
  font-size: 11px;
}

.blinking {
  animation-name: blink;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.account-type-panel .logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container-menu-mobile {
  max-width: 500px;
  margin: auto;
}

.me-avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.faq-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding-left: 0;
}

.text-manager {
  fill: #82fffd;
  color: #82fffd;
}

.text-subscription {
  color: #61d86c;
  fill: #61d86c;
}

.text-podcast {
  color: #76dbc0;
  fill: #76dbc0;
}
