@media (min-width: 992px) {
  .creator-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    position: relative;
  }
}

.creator-home-left{
  position: relative;
}

.creator-position-sticky{
  position: sticky;
}

.creator-position-top{
  top: 48px;
}

.creator-position-bottom{
  bottom: 48px;
}

.creator-home-feed{
  position: relative;
}