/* global */

body {
  position: relative;
  background: linear-gradient(
    160deg,
    var(--bg-page-top-left) 0%,
    var(--bg-page-bottom-right) 60%
  );
  transition: all 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--bg-font);
  overflow-x: hidden;
  height: 100%;
}

#__next {
  background: linear-gradient(
    160deg,
    var(--bg-page-top-left) 0%,
    var(--bg-page-bottom-right) 60%
  );
}
.badge-dark {
  background: #0a0c0d;
}

.type-indicator {
  top: 20px !important;
  right: 20px !important;
  left: unset !important;
  padding: 3px 7px;
  font-size: 14px;
  border-radius: 5px;
}

.social-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 5px;
  padding-left: 0;
}

.social-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

/* CREATOR ACTIVITY FEEDS */

.photo-galery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.1rem;
}

/* setion blogs dashboar page*/

.account-detail input {
  border-radius: 35px !important;
  height: 60px !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.account-detail svg {
  position: absolute;
  width: 19px !important;
  right: 27px !important;
  top: 36px !important;
  cursor: pointer;
}

/* .container-media {
} */

/* Community Details Page  */

.user-list-adm {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid #ffffff;
  display: flex;
  cursor: pointer;
  position: relative;
}
.user-panel {
  min-width: 100px;
  display: none;
  height: 30px;
  background: var(--primary-color);
  bottom: 100%;
  border-radius: 5px;
  font-size: 12px;
  color: #ffffff;
  left: -22px;
  margin-bottom: 11px;
  transform: translate(0, 10px);
  transform-origin: top;
  position: absolute;
  padding: 6px 10px;
  text-align: center;
  top: -49px;
}

#send-message {
  border: none;
}

.date-selector::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.chat-column {
  min-width: 340px;
  max-width: 340px;
  height: calc(100vh - 74px);
}
.chat-column,
.banned-state {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 807px) {
  .chat-column {
    width: 100%;
    height: 500px;
    position: relative;
  }
}

.main {
  min-height: 600px;
}

.border-none {
  border: none !important;
}
.btn.btn-secondary {
  box-shadow: none;
}
.title-page {
  font-size: 15px;
  padding-top: 20px;
}
.pt-20 {
  padding-top: 20px;
}
/*.bg-black {
    background-color: var(--dark-color);
} */
.bd-radius {
  border-radius: 5px;
}

.success-toast {
  margin: 10px;
  pointer-events: all;
  background: #5c9c12;
  z-index: 999999;
  position: absolute;
  top: 88px;
  left: 35%;
  width: auto;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: var(--white-color);
}
.success-toast button {
  background: transparent;
  border: 0;
  margin: 0 0 0 15px;
  color: var(--white-color);
  font-size: 28px;
  transform: rotate(45deg);
  font-weight: 100;
}

.error-toast {
  margin: 10px;
  pointer-events: all;
  background: #c43131;
  z-index: 999999;
  position: absolute;
  top: 88px;
  width: auto;
  height: 50px;
  left: 35%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: var(--white-color);
}

.error-toast button {
  background: transparent;
  border: 0;
  margin: 0 0 0 15px;
  color: var(--white-color);
  font-size: 28px;
  transform: rotate(45deg);
  font-weight: 100;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--bg-font);
}
.container {
  max-width: 1440px;
}

.btn-primary.round {
  border-radius: 22px;
}
img {
  max-width: 100%;
  height: auto;
}
b,
strong {
  font-weight: bold;
}

.avatar {
  background-color: var(--dark-color);
}

.card {
  background-color: transparent;
}
.form-control {
  color: var(--typo);
  background-color: rgba(29, 51, 91, 0.4);
  border: 1px solid rgba(29, 51, 91, 0.4);
  border-radius: 27px;
  padding: 0 20px;
}
.form-control:focus {
  color: var(--white-color);
  background-color: rgba(29, 51, 91, 0.48);
  border: 2px solid rgba(29, 51, 91, 0.48);
}
.dzu-dropzone {
  overflow: hidden;
}
.ratio-16x9 {
  --aspect-ratio: calc(9 / 16 * 100%);
}
.ratio-4x3 {
  --aspect-ratio: calc(3 / 4 * 100%);
}

.ratio-1x1 {
  --aspect-ratio: 100%;
}
.ratio {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.ratio > * {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
}
.ratio iframe {
  height: 100%;
}
.ratio::before {
  display: block;
  padding-top: var(--aspect-ratio);
  content: "";
}
.channel-br {
  border-radius: 20px;
  background-color: var(--bg-channel);
}
.b-radius {
  border-radius: 0.25rem;
}
.b-radius-top {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.b-radius-bottom {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.react-multi-carousel-list {
  width: 100%;
}
.react-multi-carousel-list,
.react-multi-carousel-track {
  width: 100%;
}
.react-multi-carousel-list,
.react-multi-carousel-track li {
  width: 33.33%;
}

.content {
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.left-content {
  display: none;
}
.right-content {
  grid-column: 1 / span 1;
}

@media (max-width: 1199px) {
  .main {
    padding-bottom: 65px !important;
  }
}

.logo {
  min-width: 110px;
  max-width: 110px;
  margin: 0;
}

.btn-menu {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--typo);
}

.icon-menu {
  width: 22px;
}

@media (min-width: 1200px) {
  .content {
    display: grid;
    grid-template-columns: 250px calc(100% - 260px);
  }
  .left-content {
    display: block;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .left-content.no-menu {
    display: none;
  }
  .right-content {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  .right-content.no-menu {
    grid-column: 1 / span 2;
  }
  .logo {
    min-width: 130px;
    max-width: 160px;
  }
}
.col-padding {
  padding-left: 25px;
  padding-right: 25px;
}
.multi-photos-section {
  overflow-y: hidden;
}
.multi-photos-section .act-grid-1-1 {
  overflow: hidden !important;
}
.act-grid-1-1 {
  height: auto !important;
  margin: 0 5px;
  width: calc(50% - 10px);
  flex: 0 0 calc(50% - 10px) !important;
}
.act-grid-1-1 img {
  height: auto !important;
}
.act-grid-1-1::before {
  content: "";
  width: 1px;
  margin-left: -1px;
  float: left;
  height: 0;
  padding-top: calc(591.44 / 1127.34 * 100%);
}
.act-grid-1-1::after {
  /* to clear float */
  content: "";
  display: table;
  clear: both;
}
.act-grid-1-1 img {
  position: absolute;
  top: 0;
  left: 0;
}
.act-grid-1-1 .hover-effect {
  z-index: 1;
}
.act-grid-1-1 .popover {
  display: none !important;
}
.pointer {
  cursor: pointer;
}
.line-title {
  border: 2px solid var(--primary-color);
}
.sub-menu-button svg {
  width: 20px;
}

.modal.show .modal-dialog {
  height: 100%;
}
.react-jitsi-container {
  padding: 1rem;
}
.create-feed-panel span {
  color: var(--bg-font);
}

.btn-secondary:not(:disabled):not(.disabled):active {
  color: inherit;
  background-color: transparent;
}

.white-border {
  border: 1px solid white !important;
}

.radius-25 {
  border-radius: 25px;
}

.section-home {
  margin-top: 45px;
  padding-top: 40px;
}

.section-main-header {
  display: grid;
  grid-template-columns: 1fr 350px;
}

.ql-align-justify br {
  display: none;
}
