.notif-filter-btn {
  border: 1px solid var(--white-color);
  background-color: var(--white-color);
  color: #f42f89;
  font-size: 14px;
  font-weight: 700;
  padding: 0 15px;
  line-height: 29px;
  border-radius: 6px;
  margin-right: 10px;
  outline: none !important;
}

.notif-filter-btn:hover,
.notif-filter-btn:focus,
.notif-filter-btn.active,
.notif-filter-btn:active {
  border: 1px solid #f42f89;
  background-color: #f42f89;
  color: #fff;
}

.notif-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #1b1b1b;
  color: #ffffff;
  font-size: 14px;
  max-width: 100%;
  border: 0;
  padding: 6px 25px 6px 10px;
  position: relative;
  cursor: pointer;
  width: 100%;
  outline: 0;
  vertical-align: middle;
  border-radius: 6px;
  box-shadow: none;
}

.notif-select.active,
.notif-select:active {
  box-shadow: 0 0 0 1px #f42f89;
  outline: 2px solid transparent;
}

.notif-select.focus,
.notif-select:focus {
  box-shadow: 0 0 0 1px #f42f89;
  outline: 2px solid transparent;
}

.notif-list-head {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.notif-bulk-action {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #1b1b1b;
  color: #ffffff;
  font-size: 14px;
  border: 0;
  padding: 6px 25px 6px 10px;
  position: relative;
  cursor: pointer;
  outline: 0;
  vertical-align: middle;
  border-radius: 6px;
  box-shadow: none;
}

.notif-bulk-action.active,
.notif-bulk-action:active {
  box-shadow: 0 0 0 1px #f42f89;
  outline: 2px solid transparent;
}

.notif-bulk-action.focus,
.notif-bulk-action:focus {
  box-shadow: 0 0 0 1px #f42f89;
  outline: 2px solid transparent;
}

.notif-apply-btn {
  border: 0;
  border-radius: 3px;
  line-height: 29px;
  padding: 3px 20px;
  font-size: 14px;
  font-weight: 700;
  background: #f42f89;
  color: #ffffff;
  display: block;
  text-decoration: none;
  cursor: pointer;
  outline: none !important;
  transition: 0.3s all;
}

.notif-apply-btn.disabled,
.notif-apply-btn:disabled {
  opacity: 0.4;
}

.notif-checkbox-cont {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 45px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 20px;
}

.notification-page input[type="checkbox"] {
  visibility: hidden;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid #464545;
  border-radius: 5px;
}

.notif-checkbox-cont:hover input ~ .checkmark {
  cursor: pointer;
}

.notif-checkbox-cont input:active ~ .checkmark {
  cursor: pointer;
}

.notif-checkbox-cont input:checked ~ .checkmark {
  border: 1px solid #ffffff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.notif-checkbox-cont input:checked ~ .checkmark:after {
  display: block;
}

.notif-checkbox-cont .checkmark:after {
  left: 6px;
  bottom: 5px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.notif-sort {
  color: #a3a5a9;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.notif-sort-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.notif-sort-icon path:hover {
  fill: #f42f89 !important;
}

.notif-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.notif-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  max-width: 50px;
}

.notif-item:hover .notif-title,
.notif-item:hover .notif-sort-icon {
  color: var(--white-color) !important;
}

.notif-title {
  line-height: normal;
  font-size: 14px;
  color: var(--bg-font);
  cursor: pointer;
}

.notif-title:hover,
.notif-title:focus {
  color: var(--white-color) !important;
}

.notif-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #a3a5a9;
  margin-top: 3px;
  line-height: 19px;
}

.notif-item {
  padding: 15px 20px;
}

.notif-item:hover,
.notif-item:focus {
  background-color: #464545 !important;
}

.notif-item:hover input ~ .checkmark {
  border: 1px solid #ffffff;
}

.tooltip-inner {
  background-color: #f42f89 !important;
  font-weight: 400 !important;
}

.bs-tooltip-top .arrow::before,
.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #f42f89 !important;
}
