.create-feed-panel .rdw-editor-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.rc-time-picker-panel-input-wrap {
  background-color: white;
}
.rc-time-picker-panel-input {
  background-color: white !important;
  color: #000;
}
.rc-time-picker-panel-inner {
  box-shadow: none !important;
}
.rc-time-picker-panel-select li {
  color: black;
  background-color: white;
}
.rc-time-picker-panel-inner {
  background-color: white !important;
}


.rc-time-picker-panel-inner {
  background-color: var(--primary-color);
}
li.rc-time-picker-panel-select-option-selected {
  background: var(--primary-color);
  color: var(--primary-color);
  font-weight: bold;
}

.rc-time-picker-panel-select li:hover {
  background: var(--primary-color);
}